@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --cor-1: #ffffff;
    --cor-2: #000000;
    --fonte-texto: "Josefin Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fonte-texto);
    color: var(--cor-1);
    padding: 80px;
    margin: auto;
    background: url(/assets/wallpaper.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.insert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.insert_op {
    margin-top: 10px;
    font-size: 20px;
    color: var(--cor-2);
}

input {
    display: flex;
    width: 400px;
    padding: 8px;
    background-color:lightgray;
    border-radius: 20px;
    padding-left: 20px;
}

button {
    padding: 10px 30px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 20px;
    background-color: orange;
    color: var(--cor-1);
    cursor: pointer;
}

.button_op {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-top: 30px;
    color: var(--cor-1);
    font-size: 25px;
}

@media (max-width: 1200px) {

    input {
        width: 90%;
    }
    
}